@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    margin: 3rem auto;
    width: 85%;
}

header h1 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

nav {
    position: relative;
}

nav ul {
    display: flex;
    gap: 3rem;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

nav .icon {
    display: none;
}

nav .bell {
    position: absolute;
    right: 3%;
    top: 3%;
    color: #000;
}

.nav ul .user_details {
    display: none;
}

.nav ul .edit {
        color: #000;
    }

.nav ul .edit span {
    margin-right: 1rem;
}

.nav ul .logout {
    color: red;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin: 3rem auto;
    width: 85%;
}

section.intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.intro img {
    height: 4rem;
    width: 4rem;
}

section.task-list h3 {
    text-align: center;
    margin-bottom: 2rem;
}

section .task-grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 1rem 0; */
    place-items: center;
    justify-content: center;
}

section .task-grid div {
    width: 9rem;
    height: 9rem;
    background: #a1fdf2;
    border-radius: 1rem;
    padding: 1rem;
    /* white-space: nowrap; */
    /* text-align: center;
    font-size: 1rem;
    line-height: 1rem; */
    position: relative;
}


section .task-grid .task_first h4 {
    text-decoration: none;
    color: #000;
}

section .task-grid .task_first hr {
    height: 1px;
    width: 7rem;
    color: #000;
    background-color: #000;
    position: absolute;
}

section .task-grid .task_first hr.vertical_up {
    transform: rotate(90deg);
    top: 50%;
}

section .task-grid .task_first hr.horizontal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Media Queries */

@media (max-width: 770px) {
    .nav a.icon {
        display: block;
        color: #000;
    }

    .nav ul li {
        display: none;
    }

    .nav ul li:first-child {
        display: block;
    }
}

@media (max-width: 770px) {
    .nav.respond {
        position: relative;
    }

    .nav.nav.respond ul li {
        display: flex;
    }

    .nav.respond .icon {
        position: absolute;
        top: 3%;
        left: 3%;
        color: #000;
    }

    .nav.respond ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        padding: 2rem;
        background: #e9f8f6;
    }

    .nav.respond ul .user_details {
        background: #00f9db;
        padding: 1rem;
    }

    .nav.respond ul .edit {
        color: #000;
        border: 2px solid #a1fdf2;
        padding: 1rem;
        margin-top: 1rem;
    }

    .nav.respond ul .edit span {
        margin-right: 1rem;
    }

    .nav.respond ul .logout {
        color: red;
    }

    .nav.respond ul li:last-child {
        align-self: center;
        margin-top: 2rem;
    }
}